.productDesign {
    width: 100%;
    height: 200px;
    max-height: 200px;
}

.productImage {
    max-width: 100px;
    max-height: 150px;
}

.panelGrid {
    background: none;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
}

.panelGrid, .panelGrid td, .panelGrid tr {
    border: hidden;
}

.regHeader {
    text-align: center;
}

.regButton {
    align-self: center;
}


